<!-- Fav Icons -->
<link rel="shortcut icon" href="{{ .Site.Params.Favicon.Icon | absURL }}" />
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{ .Site.Params.Favicon.Icon | absURL }}" />
<link rel="icon" sizes="16x16" href="{{ .Site.Params.Favicon.Icon16 | absURL }}" />
<link rel="icon" sizes="32x32" href="{{ .Site.Params.Favicon.Icon32 | absURL }}" />
<link rel="icon" sizes="192x192" href="{{ .Site.Params.Favicon.Icon192 | absURL }}" />
<link rel="icon" sizes="512x512" href="{{ .Site.Params.Favicon.Icon512 | absURL }}" />

<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.Favicon.AppleTouch | absURL }}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ .Site.Params.Favicon.AppleTouch | absURL }}">

<link rel="mask-icon" href="{{ .Site.Params.Favicon.SafariPinned | absURL }}" color="{{ .Site.Params.Manifest.TileColor }}">
<meta name="msapplication-TileImage" content="{{ .Site.Params.Favicon.MsTileImage | absURL }}">
<meta name="theme-color" content="{{ .Site.Params.Manifest.ThemeColor }}" /> 
<meta name="msapplication-TileColor" content="{{ .Site.Params.Manifest.ThemeColor }}" />
