// Body

body {
  color: $text-color;
  background-color: $background-color;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100vh;

  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;

  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  padding: 0 5%;

  @include mobile {
    font: $base-font-weight #{$small-font-size}/#{$small-line-height} $base-font-family;
    padding: 0 2%;
  }
}

// Divider 

hr {
  margin-top: $spacing-unit / 3;
  margin-bottom: $spacing-unit / 3;
  border: none;
  height: 1px;
  background-color: $grey-color-lighter;
}

// Links

a {
  color: $link-color;
  letter-spacing: 1px;
  text-decoration: none;

  &:hover {
    color: $link-color-dark;
    text-decoration: underline;
  }
}

// Block Quotes

blockquote{
  margin: ($spacing-unit) auto;
  font-family: $base-font-family;
  font-style: italic;
  color: $grey-color-darker;
  padding-right: $spacing-unit * 1.5;
  padding-left: $spacing-unit * 3/4;
  padding-top: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 4;
  border-left: 6px solid $grey-color-dark;
  position: relative;
  background: lighten($grey-color-lighter, 3%);
}

blockquote::after{
  content: '';
}

blockquote span,
blockquote cite {
  display: block;
  color: $black;
  font-style: normal;
  font-weight: bold;
  margin-top: 0.5em;

  &:before{
    content: "\2014" " ";
  }
}

h1, .h1 {
  font-size: 2.25rem;
}

// /**
//   * Tables
//   */

table {
  @extend .table;
  @extend .table-bordered;
  @extend .table-hover;
}

.hash-tag {
  @include mobile {
    margin-left: 0px;
  }
  &:before {
    content: "\0023"
  }
}

// Inspired from https://codepen.io/wbeeftink/pen/dIaDH
.price-tag {
  @extend .text-nowrap;

  $tag-color: lighten($black, 20%);
  $dot-color: $white;
  $tag-text-color: $white;
  $tag-hover-color: #DC143C;
  $tag-back-color: $background-color;
  
  background: $tag-color;
  border-radius: 3px 0 0 3px;
  color: $tag-text-color;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  position: relative;
  padding: 0 20px 0 23px;
  margin: 0 8px 8px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;

  // @include mobile {
  //   height: 15px;
  //   line-height: 15px;
  //   margin: 0 5px 5px 0;
  //   padding: 0 15px 0 15px;
  // }

  &:before {
    background: $tag-back-color;
    border-radius: 10px;
    content: '';
    height: 6px;
    width: 6px;
    position: absolute;
    left: 10px;
    top: 10px;

    // @include mobile {
    //   top: 7px;
    //   left: 7px;
    //   height: 3px;
    //   width: 3px;
    //   border-radius: 5px;
    // }
  }

  &:after {
    background: $tag-back-color;
    border-bottom: 13px solid transparent;
    border-left: 10px solid $tag-color;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;

    // @include mobile {
    //   border-bottom: 8px solid transparent;
    //   border-left: 5px solid $tag-color;
    //   border-top: 7px solid transparent;
    // }
  }

  &:hover {
    text-decoration: none;
    background-color: $tag-hover-color;
    color: $tag-text-color;

    &:after {
     border-left-color: $tag-hover-color; 
    }
  }
}

.post-title {
  color: $text-color;
  font-size: 22px;
  margin: 3px 0px;

  a {
    color: $text-color;
    margin: 0px;
  }
}

.post-description {
  font-size: 14px;
  font-style: italic;
  color: $grey-color-dark;

  @include mobile {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.post-date {
  font-size: 14px;
  margin: 3px 0px;
  color: $grey-color-light;
}

.post-taxonomies.tags {
  &:empty {
    display: none;
  }
}

/*
  Pagination
*/

.page-item {
  .page-link{
    color: $text-color;
  }

  &.active{
    border: $text-color;
    .page-link{
      background-color: $text-color;    
      border: $text-color;
    }
  }
}

.discover-title {
  padding-top: 10px;
  padding-bottom: 10px;

  color: $text-color;
  a {
    color: $text-color;
  }
}

// Navbar on hover

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{ color: inherit;  }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

// .dropdown-menu {
  // font-size: 14px;
  
  // &.show, {
  //   .dropdown-item {
  //     padding-top: 8px;
  //     padding-bottom: 8px;
  //   }
  // }
// }

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $grey-color-light;
}
::selection {
  color: $black;
  background: $grey-color-light;
}

.unselectable {
  pointer-events: none;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.grey-text {
  font-size: 16px;
  color: $grey-color-light;
  font-style: italic;

  @include mobile {
    font-size: 12px;
  }
}

.big-text {
  font-size: 26px;
}


// breadcrumbs

.breadcrumb {
  background: none;
  padding: 0px;
}

.taxo-collapse {
  .card {
    padding: 0;
    margin: 0;
    border: none;
  }
  
  .card-body {
    ul {
      display: inline;
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        display: inline;
      }
    }
  }
}

