/**
 * Page content
 */
html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

.page-wrapper { // wraps page header, body, footer
  position:relative;

  margin: 0 auto;
  padding: 0 10px;

  max-width: $content-width;
  min-height: 100%;
  width: 100%;

  .page-heading {
    color: $grey-color-darker;
  }

  .page-description {
    @include mobile {
      padding: ($spacing-unit / 3) 5px;
    }
  }

  .page-body {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

   // padding: ($spacing-unit / 2) 0;
    padding-bottom: $footer-height; // Important!

    @extend %clearfix;

    @include mobile {
      max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
      max-width: calc(#{$content-width} - (#{$spacing-unit}));
      margin-right: auto;
      margin-left: auto;
      padding-right: $spacing-unit / 2;
      padding-left: $spacing-unit / 2;   
    }
  }
}
