/**
 * Page content
 */
html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

html {
  font-size: 12px;
}

.page-wrapper { // wraps page header, body, footer
  position:relative;
  min-height: 100%;
  width: 100%;

  .page-body {
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    padding-bottom: $footer-height; // Important!

    @include mobile {
      margin-right: auto;
      margin-left: auto;
      padding-right: $spacing-unit / 2;
      padding-left: $spacing-unit / 2;   
    }

    .page-container {
      .page-heading {
        font-weight: 700;
        color: $grey-color-darker;
        padding-top: $spacing-unit / 3;
        padding-bottom: $spacing-unit / 3;
      }

      .page-description {
        @include mobile {
          padding: ($spacing-unit / 2) 5px;
        }
      }

      .page-content-wrapper {
        font-size: 14px;
      }
    }
  }
}
