
.movie-card{
	h2{
		margin-top: 6px;
		margin-bottom: 4px;
	}

	.movie-meta{
		.movie-title {
			margin: 0px !important;
			padding: 0px !important;
		}
		
		.movie-title {
			@extend .center-xs!optional;
		}

		.movie-tagline {
			margin-bottom: 8px; 
		}

		.review-summary {
			.rating-panel {
				margin-top: 10px;
				margin-bottom: 10px;

				.score-rating-data {
					@include relative-font-size(6);
				}
			}
		}
	}
	.movie-detail, .movie-crew {
		margin-top: 12px;
		margin-left: 6px;
		margin-right: 6px;
	}

	.movie-meta-container {
		.movie-meta-row {
			display: table-row;
		}

		.movie-meta-data,
		.movie-meta-label {
			display: table-cell;
			margin: 0px;
			padding: 0px;
		}

		.movie-meta-label {
			text-align: right;
		}

		.movie-meta-data {
			padding: 0px 10px; 
		}
	}

	.movie-poster-container {
		.movie-poster {
			max-height: 300px;
			display:block;
    		margin:auto;
		}
	}	
}
