.errors {
  .error-msg {
      text-align: center;
  }

  .error-image {
    text-align: center;
    margin-top: $spacing-unit * 1.25;

    @include mobile {
      margin-top: $spacing-unit / 2;
    }

    // img {
    //   width: $content-width / 2;
    // }
  }
}

.tags {
  .page-heading {
    @extend .hash-tag;
  }
}

.home {  
  .more-link-container {
    text-align: right;
    padding-top: 18px;
    .more-link{
      font-size: 18px;
    }
  }
}
