.post-pagination {
  margin-top: 1rem;
  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  .previous, .next {
    color: $black;
    border: 1px solid $grey-color-darker;
    margin: 2px 2px;
    padding: 5px 10px;
    border-radius: 4px; 

    &:hover {
      text-decoration: none;
      color: $white;
      background-color: $grey-color-darker;
    }
  }

  .previous {
    float: left;
  }

  .next {
    float: right;
  }
}

.post-pagination-number {
  padding-top: 18px;
  @include mobile {
    padding-top: 12px;
  }
}
