/***************
  404 Page
***************/

.page-container.error {
  margin-top: $spacing-unit * 1.5;

  .error-msg {
      text-align: center;
  }

  .error-image {
    text-align: center;
    margin-top: $spacing-unit * 1.25;

    @include mobile {
      margin-top: $spacing-unit / 2;
    }

    img {
      width: $content-width / 2;
    }
  }
}


// .social-media-list {
//   margin-top: -1rem;
//   display: flex;
//   @include relative-font-size(2);

//   @include mobile {
//     @include relative-font-size-mobile(2);
//   }

//   li {
//     float: left;
//     a {
//       padding-right: $spacing-unit / 5;
//     }
//   }
// }

// .social-media-list {
//   display: inline;
//   list-style: none;
//   margin-left: 0;

//   @include mobile {
//     text-align: center;
//     display: block;
//   }
// }