.post-pagination {
  margin-top: 2em;

  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  .previous, .next {
    @extend .black-button;
  }

  .previous {
    float: left;
  }

  .next {
    float: right;
  }
}
