.post-single {
    .post-header {
      margin-top: $spacing-unit * 1;
      margin-bottom: $spacing-unit / 2;
    }

    .post-title {
    // .post-content h1 {
      font-weight: 900;
      line-height: $very-small-line-height;
      // @include relative-font-size(2.5);

      // @include mobile {
        // @include relative-font-size(1.8);
      // }
    }

    .post-content {
      margin-bottom: $spacing-unit;
    }

    .post-meta {
      color: $grey-color-dark;
      // @include relative-font-size(1.3);
      margin: 10px 0px;


      @include mobile {
        // @include relative-font-size(1.1);
        text-align: left;
      }
    }

    .post-tags {
      color: $grey-color;
      margin: 10px 0px;

      // @include relative-font-size(1.1);

      @include mobile {
        margin: 5px 0px;
      }

      a.tag {
        margin-right: 5px;
      }
    }
}