/***************
	404 Page
***************/

.container-page-error {
	.error-404 {
		text-align: center;
		margin-top: $spacing-unit * 1.5;

		// @include relative-font-size(1.3);
		// @include mobile {
		// 	@include relative-font-size(1.1);
		// }

		.error-image {
			text-align: center;
			margin-top: $spacing-unit * 1.25;

			@include mobile {
				margin-top: $spacing-unit / 2;
			}

			img {
				width: $content-width / 2;
			}
		}
	}
}