.error-404 {
  .error-msg {
      text-align: center;
      margin-top: $spacing-unit;
  }

  .error-image {
    text-align: center;
    margin-top: $spacing-unit;

    @include mobile {
      margin-top: $spacing-unit / 2;
    }

    img {
      width: 30vw;
      height: auto;

      @include mobile {
        width: 60vw;
      }
    }
  }
}

.tags {
  .page-heading {
    @extend .hash-tag;
  }
}

.home {
  .more-link-container {
    text-align: right;
    padding-top: 8px;
    .more-link{
      font-size: 16px;
    }
  }
}

.tooltip-inner{ 
  font-size: 20px;
}
