.post-list {
  .post-list-item {
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 6;
    
    &:not(:last-child){
      border-bottom: 1px solid $grey-color-lighter;
    }

    .post-header {
      margin-bottom: $spacing-unit / 2;
    }

    .post-title {
        .starred:after{
          content: "\2605";
          font-size: 0.5em;
          vertical-align: middle;
        }
    }

    .post-summary {
      margin-top: $spacing-unit / 4;
      margin-bottom: $spacing-unit / 4;
    }

    .post-meta {
      margin-bottom: 8px;
    }

    .post-taxonomies {
      color: $grey-color;
      display: block;
      position: relative;
      text-align: right;

      @include mobile {
        display: block;
        text-align: left;
        margin-top: 6px;
      }

      a.post-taxonomy {
        @extend .hash-tag;
        color: $grey-color;
        margin-right: 5px;
      }
    }
  }
}

.singletitle-related {
    img {
      min-height: 200px;
      max-height: 200px;
      width: auto;
    }
}

.title-list-row {
  margin-top: 0;
  margin-bottom: 0;

  @include desktop {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .title-list-item {
    min-height: 100%!important;
    height: 100%!important;
    border-bottom: none!important;

    .card {
      min-height: 100%!important;
      height: 100%!important;
      // border: 1px solid $grey-color-lighter;
      border: none;

      .card-body {
        padding: 3px 0px;
        text-align: center;
      }

      .card-footer {
        padding-top: 12px;
        border: none;
        background-color: $background-color;

        .card-text {
          text-align: center;
        }
      }
    }

    .title-item-link {
      text-decoration: none;
      color: $text-color;

      .title-item-meta {
        text-align: center;
      }

      .title-item-title{
        font-size: 16px;
      }
      .title-item-date{
        font-size: 12px;
      }
    }
  }
}
