.post-list {
  .post-list-item {
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 6;
    
    &:not(:last-child){
      border-bottom: 1px solid $grey-color-lighter;
    }

    .post-header {
      margin-bottom: $spacing-unit / 2;
    }

    .post-title {
        .starred:after{
          content: "\2605";
          font-size: 0.5em;
          vertical-align: middle;
        }
    }

    .post-summary {
      margin-top: $spacing-unit / 4;
      margin-bottom: $spacing-unit / 4;
    }

    .post-meta {
      margin-bottom: 8px;
    }

    .post-taxonomies {
      color: $grey-color;
      display: block;
      position: relative;
      text-align: right;

      @include mobile {
        display: block;
        text-align: left;
        margin-top: 6px;
      }

      a.post-taxonomy {
        @extend .hash-tag;
        color: $grey-color;
        margin-right: 5px;
      }
    }
  }
}

.title-list-row {
  margin-top: 10px;
  margin-bottom: 10px;

  @include mobile {
    margin-top: 0;
    margin-bottom: 0;
  }

  .title-list-item {
    border-bottom: none!important;

    .card {
      min-width: 210px;
      max-width: 210px;

      border: none;

      @include mobile {
        min-width: 150px;
        max-width: 150px;
      }
    }

    .title-item-poster-container{
      min-width: 210px;
      max-width: 210px;
      min-height: 300px;
      max-height: 300px;
      display: flex;
      overflow: hidden;

      @include mobile {
        min-width: 150px;
        max-width: 150px;
        min-height: 210px;
        max-height: 210px;
        margin: 0 auto;
      }
    }
 
    .title-item-link {
      text-decoration: none;
      color: $text-color;

      .title-item-meta {
        text-align: center;
      }

      .title-item-title{
        font-size: 16px;
      }
      .title-item-date{
        font-size: 12px;
      }
    }
  }
}
