.post-list {
  .post-list-item{
    .post-header {
      margin-bottom: $spacing-unit / 2;
    }

    .post-title {
      font-weight: 400;
    }

    .post-title {
        .starred:after{
          content: "\2605";
          font-size: 0.5em;
          vertical-align: middle;
        }
    }

    .post-summary {
      margin-top: $spacing-unit / 4;
      margin-bottom: $spacing-unit / 4;
    }

    .post-date {
      color: $grey-color;
      display:block;
      position: relative; 
      margin-top: -15px;
      margin-left: 0px;

      @include mobile {
        text-align: left;
        margin-top: 0px;
        margin-left: 10px;
      }
    }

    .post-taxonomies {
      color: $grey-color;
      display: block;
      position: relative;
      text-align: right;
      margin-top: -30px;
      margin-left: 125px;

      @include mobile {
        display: block;
        text-align: left;
        margin-top: 0px;
        margin-left: 10px;
      }

      a.post-taxonomy {
        @extend .hash-tag;
        color: $grey-color;
        margin-right: 5px;
      }
    }
  }
}


.title-list-row {
  margin-top: 10px!important;
  margin-bottom: 10px!important;

  .title-list-item {
    .title-item-poster {
      min-width: 210px;
      max-width: 210px;
      max-height: 300px;

      overflow: hidden;

      img {
        max-height: 100%;
        width: auto;
      }

      @include mobile {
        margin: 0 auto;
        img {
          display: block;
        }
      }
    }

    .title-item-meta {
      text-align: center;
    }

    .title-item-link {
      text-decoration: none;
      color: $text-color;
    }

    .title-item-title{
      @include relative-font-size(0);
      margin-bottom: 0px;
    }

    .title-item-date{
      @include relative-font-size(0);
    }
  }
}
