.post-single {
    .post-header {
      // margin-top: $spacing-unit * 1;
      margin-bottom: $spacing-unit / 2;

      .post-title {
        font-weight: 700;
        font-size: 26px;

        @include mobile {
          font-size: 22px;
        }
      }

      .post-date {
        display: block;
        margin-top: 12px;
        margin-bottom: 6px;
        color: $grey-color-darkest;
      }

      .post-tags {
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }

    .post-description {
      font-size: 16px;
    }

    .post-content {
      margin-bottom: $spacing-unit;

      h1, h2, h3, h4, h5 {
        font-weight: 700;
        padding-top: 3px;
        padding-bottom: 3px;
      }

      p, h5, h6, li {
        font-size: 16px;
      }

      p {
        // text-indent: 5%;
        text-align: justify;
      }

      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 22px;
      }

      h3 {
        font-size: 20px;
      }

      h4 {
        font-size: 18px;
      }

      .review-score-card {
        .review-score{
          padding-top: 16px; 
          padding-bottom: 16px; 
        }
      }
    }
}
