
.titlemeta {
	h2{
		margin-top: 6px;
		margin-bottom: 4px;
	}

	.titlemeta-meta{
		.titlemeta-title {
			margin: 0px !important;
			padding: 0px !important;
		}
		
		.titlemeta-title {
			@extend .center-xs!optional;
		}

		.titlemeta-tagline {
			margin-bottom: 8px; 
		}

		@include mobile {
			.titlemeta-title, .titlemeta-tagline {
				text-align: center;
			}
		}

		.review-summary {
			.rating-panel {
				margin-top: 10px;
				margin-bottom: 10px;

				.score-rating-data {
					@include relative-font-size(6);
				}
			}
		}
	}

	.titlemeta-detail, .titlemeta-crew {
		margin-top: 12px;
		margin-left: 6px;
		margin-right: 6px;
	}

	.titlemeta-info-container {

		@include mobile {
			margin-top: 8px;
			margin-bottom: 8px;
		}

		.titlemeta-info-row {
			display: table-row;
			min-width: 100%;
		}

		.titlemeta-info-data,
		.titlemeta-info-label {
			display: table-cell;
			margin: 0px;
			padding: 0px;
		}

		.titlemeta-info-label {
			text-align: right;

			@include desktop {
				min-width: 250px;
			}
		}

		.titlemeta-info-data {
			padding: 0px 10px; 
		}
	}

	.titlemeta-poster-container {
		.titlemeta-poster {
			max-height: 300px;
			display:block;
    		margin:auto;
		}
	}

	.titlemeta-trailer-container{
		.titlemeta-trailer{
			margin: 10px auto;
			padding-bottom: 38%;
			max-width: 70%;

			border: 1px solid $grey-color-lighter;

			@include mobile {
				padding-bottom: 55%;
				max-width: 100%;
			}
		}
	}
}
