
.titlemeta {
	.titlemeta-container{
		padding-top: 6px;
		padding-bottom: 12px;
	}

	.titlemeta-head-container{
		padding-bottom: 12px;
		border-bottom: 1px solid $grey-color-lighter;

		.titlemeta-poster-wrapper {
			display: flex;
			justify-content: center;

			.titlemeta-poster-container {
				max-height: 350px;

				img.titlemeta-poster {
					max-width: 100%;
   					max-height: 100%;
					object-fit: contain;
				}
			}

			.titlemeta-poster-notice {
				padding: 0;
				padding-top: 10px;
				font-size: 12px;
				color: $grey-color-darker;
			}
		}
		.titlemeta-data-container{
			.titlemeta-title-container{
				.titlemeta-title {
					font-weight: 700;
					font-size: 26px;
				}
				.titlemeta-tagline {
					font-size: 16px;
				}
			}
			.titlemeta-review-container{
				padding-top: 10px;
				.review-summary {

					.bottomline-label {
						font-size: 14px;
					}

					.bottomline-data {
						font-size: 18px;
						@include mobile {
							font-size: 16px;
						}
					}

					.full-review-label {
						font-size: 14px;
						margin-top: 6px;
						margin-bottom: 6px;
					}

					.full-review-link {
						font-size: 18px;
						@include mobile {
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	.disclaimer {
		text-align: justify;
		text-indent: 5%;
	}

	.titlemeta-body-container{
		.titlemeta-info-container{
			margin-top: 12px;
		}

		.titlemeta-info-head{
			font-weight: 700;
			font-size: 20px;
			padding-bottom: 10px;
		}

		.titlemeta-info-body{
			.titlemeta-info-row {
				display: table-row;
				min-width: 100%;

				.titlemeta-info-data,
				.titlemeta-info-label {
					display: table-cell;
					margin: 0px;
					padding: 0px;
				}

				.titlemeta-info-label {
					text-align: right;

					@include desktop {
						min-width: 250px;
					}
				}

				.titlemeta-info-data {
					padding: 0px 10px;
				}
			}
		}

		.titlemeta-castcrew, .titlemeta-detail {
			.titlemeta-info-body{
				@include mobile {
					.titlemeta-info-row {
						display: block;
						margin: 0;
						padding-top: 2px;
						padding-bottom: 2px;
					}
					.titlemeta-info-data,
					.titlemeta-info-label {
						display: inline;
						padding-left: 0px;
					}

					.titlemeta-info-label {
						padding-top: 2px;
						padding-bottom: 2px;
					}

					.titlemeta-info-data{
						padding-left: 4px;
					}
				}
			}
		}

		.titlemeta-trailer{
			.youtube-player {
				margin: 10px auto;
				padding-bottom: 38%;
				max-width: 70%;

				border: 1px solid $grey-color-lighter;

				@include mobile {
					padding-bottom: 55%;
					max-width: 100%;
				}
			}
		}

		.titlemeta-related {
			padding-left: 2%;
			padding-right: 2%;
		}
	}
}

.review-score-container {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;

	.review-score {
		display: flex;
		justify-content: center;

		// .flex-row {
		// 	@extend .hide-scroll-bar;
		// }
	}

	.score-rating {
		.card, .card-footer {
			border: none;
		}
		.card-body {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 0 12px;

			@include mobile {
				padding: 0 6px;
			}
		}
		.card-footer {
			text-align: center;
			border: none;
			background-color: $background-color;
		}
	}

	.score-rating-data {

	}

	@include mobile {
		margin-top: 5px;
		margin-bottom: 5px;
		padding-bottom: 5px;

		.score-rating-label {
			font-size: 12px;
		}
		// .score-rating-data {
		// 	font-size: 20px;
		// }
	}
}