
.titlemeta {
	.titlemeta-container{
		padding-top: 6px;
		padding-bottom: 12px;
	}

	.titlemeta-head-container{
		padding-bottom: 12px;
		border-bottom: 1px solid $grey-color-lighter;

		.titlemeta-poster-container{
			.titlemeta-poster {
				max-height: 300px;
				display:block;
	    		margin:auto;
			}
		}
		.titlemeta-data-container{
			.titlemeta-title-container{
				.titlemeta-title {
					font-weight: 700;
					font-size: 26px;
				}
			}
			.titlemeta-review-container{
				.review-summary {
					.review-score {
						margin-top: 10px;
						margin-bottom: 10px;
						padding-bottom: 10px;

						.score-rating-data {
							
						}

						@include mobile {
							margin-top: 5px;
							margin-bottom: 5px;
							padding-bottom: 5px;

							.score-rating-label {
								font-size: 12px;
							}
							// .score-rating-data {
							// 	font-size: 20px;
							// }
						}
					}
				}
			}
		}
	}

	.titlemeta-body-container{
		.titlemeta-info-container{
			margin-top: 12px;
		}

		.titlemeta-info-head{
			font-weight: 700;
			font-size: 20px;
		}

		.titlemeta-info-body{
			.titlemeta-info-row {
				display: table-row;
				min-width: 100%;
		
				.titlemeta-info-data,
				.titlemeta-info-label {
					display: table-cell;
					margin: 0px;
					padding: 0px;
				}

				.titlemeta-info-label {
					text-align: right;

					@include desktop {
						min-width: 250px;
					}
				}

				.titlemeta-info-data {
					padding: 0px 10px; 
				}
			}
		}

		.titlemeta-trailer{
			.youtube-player {
				margin: 10px auto;
				padding-bottom: 38%;
				max-width: 70%;

				border: 1px solid $grey-color-lighter;

				@include mobile {
					padding-bottom: 55%;
					max-width: 100%;
				}
			}
		}
	}
}
