@charset "utf-8";

// Define defaults for each variable.
{{ if .Site.Params.Style.FontsName }}
  {{ $fonts := slice }}
  {{ range $font := .Site.Params.Style.FontsName }}
    {{ $fonts = $fonts | append (printf "'%v'" $font) }}
  {{ end }}
  $base-font-family: {{ delimit $fonts  ", " }}, sans-serif;
{{ else }}
  $base-font-family: "Times New Roman", sans-serif;
{{ end }}

$base-font-size: 16px !default;
$base-font-size-mobile: 14px !default;
$base-ratio: 1.15;
// $base-ratio: 1.6180;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.85 !default;

$base-line-height: 1.8 !default;
$small-line-height: 1.6 !default;
$very-small-line-height: 1.3 !default;
$spacing-unit: 30px !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 1000px !default;
$site-logo-container-width-max: 125px !default;
$site-logo-container-height: 70px !default;
$header-height: 50px !default;
$footer-height: 150px !default;

// Colors
$black: #000 !default;
$white: #fff !default;
$grey-color: #828282 !default;
$grey-color-lightest: lighten($grey-color, 60%) !default;
$grey-color-lighter: lighten($grey-color, 40%) !default;
$grey-color-light: lighten($grey-color, 20%) !default;
$grey-color-dark: darken($grey-color, 20%) !default;
$grey-color-darker: darken($grey-color, 40%) !default;
$grey-color-darkest: darken($grey-color, 60%) !default;
$link-color: #4472ca !default;
$link-color-dark: darken($link-color, 40%) !default;
$link-color-darker: darken($link-color, 60%) !default;

$background-color: #fdfdfd !default;
$text-color: #111 !default;

$inner-content-width-max: $content-width - (2 * $spacing-unit);
$header-width-max: $content-width - $spacing-unit;

// Import third party
@import "./third_party/bootstrap";
@import "./third_party/youtube-lite";

// Import partials.
@import "reset";
@import "utils";
@import "base", "layout", "icons";
@import "header", "footer";
@import "title_meta", "titlecard", "pagination";
@import "page_base", "page_specific";
@import "post_list", "post_single";
