{{ define "main" }}
<div class="page-content-wrapper">
	{{ if not (isset .Params "meta_name") }}
		{{ errorf "meta_name not found for %v" .File }}
	{{ end }}

  <div class="post-single">
      {{ partial "findtitle.html" . }}
      {{ if .Scratch.Get "findtitle_isfound" }}
        {{ $titlePage := .Scratch.Get "findtitle_result" }}
        <h2 class="post-title">
          <a class="dark-link" href="{{ .Permalink }}">{{ .Title }}</a>
          {{ if and (.Params.Starred) (.Site.Params.Config.ShowStarredIcon) }}
          <span class="starred"></span>
          {{ end }}
        </h2>
        <p class="post-description" style="font-style: italic;">{{ .Description }}</p>

        <!-- {{ partial "shortcode-titlecard.html" (dict "titlepage" $titlePage "hidereview" true) }} -->

        <div class="post-content">
            {{ .Content }}
        </div>
      {{ else }}
          {{ errorf "%v movie/tvshow page not found for %v reviews page" .Params.meta_name .File }}
      {{ end }}
  </div>
</div>
{{ end }}
