{{ define "main" }}
<div class="page-content-wrapper">
	{{ if not (isset .Params "meta_name") }}
		{{ errorf "meta_name not found for %v" .File }}
	{{ end }}

  {{ partial "breadcrumb.html" . }}

  <div class="post-single">
      {{ partial "findtitle.html" . }}
      {{ if .Scratch.Get "findtitle_isfound" }}
        {{ $titlePage := .Scratch.Get "findtitle_result" }}
        <header class="post-header mb-3">
            <h2 class="post-title">
              <a class="dark-link" href="{{ .Permalink }}">{{ .Title }}</a>
              {{ if and (.Params.Starred) (.Site.Params.Controls.ShowStarredIcon) }}
              <span class="starred"></span>
              {{ end }}
            </h2>
            <div class="post-description">{{ .Description }}</div>
            {{ partial "single-publish-date" . }}
        </header>

        <div class="post-content">
            {{ .Content }}

           <div class="review-score-card">
            <h3 class="review-title">Ratings</h3>
            {{ partial "review-score.html" . }}
           </div>

            {{ if .Params.bottomline }}
            <div class="review-bottomline">
              <h3 class="review-title">Bottomline</h3>
              <p class="review-content">{{ .Params.bottomline }}</p>
            </div>
            {{ end }}
        </div>

        {{ partial "single-tags" . }}
      {{ else }}
          {{ errorf "%v movie/tvshow page not found for %v reviews page" .Params.meta_name .File }}
      {{ end }}
  </div>

  {{ partial "related-pages.html" . }}

</div>
{{ end }}
