
<div class="page-container">
	<h1 class="page-heading">
        {{ $toCheckSlice := .Site.Params.Meta.FilmographyList }}
        {{ if in $toCheckSlice .Type }}
            {{ .Params.meta.title | default .Title }}'s Filmography
        {{ else }}
            {{ .Params.meta.title | default .Title }}
        {{ end }}
    </h1>
	<div class="page-content-wrapper">
        {{ $pageCount := 8 }}
        {{ $paginatedPages := (.Paginator $pageCount).Pages.ByDate.Reverse }}
        {{ $totalCount := len $paginatedPages }}

        <div class="post-list title-list-row row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-4">
        {{ range $val := seq $pageCount }}
            {{ $index := sub $val 1}}
            {{ $currentPage := index $paginatedPages $index }}

            {{ if $currentPage }}
                <div class="col">
                    {{ partial "item-title.html" $currentPage }}
                </div>
            {{ end }}
        {{ end }}
        </div>
	</div>
    {{ partial "pagination-number.html" . }}
</div>
