{{ $reviews := .arr }}
{{ $context := .context }}
{{ $limit := .limit }}

{{ $mainScoreName := $context.Site.Params.Rating.MainScore }}
{{ $mainScoreSuffix := $context.Site.Params.Rating.MainScoreSuffix | default "%" }}
{{ $reviews = first $limit $reviews }}

{{ if $reviews }}
	<div class="page-content-wrapper">
		<div class="top-list">
			<table>
			  <thead>
			  	{{ $metaType := (index $reviews 0).Params.meta_type }}
			  	{{ $metaPage := $context.Site.GetPage (printf "/%s" $metaType) }}
			    <th>{{ $metaPage.Title | default "Title" }}</th>
			    <th class="text-center">{{ $mainScoreName }}</th>
			  </thead>
			  <tbody>
				{{ range $index, $reviewPage := $reviews }}
					<div class="top-item">
						{{ partial "findtitle.html" $reviewPage }}
						{{ if $reviewPage.Scratch.Get "findtitle_isfound" }}
							{{ $metaPage := $reviewPage.Scratch.Get "findtitle_result" }}
							{{ $metaParams := $metaPage.Params.meta }}
							<tr class="top-list-item">
							  <td class="top-title">
							    <a href="{{ $metaPage.Permalink }}">{{ $metaParams.Title }} ({{ $metaParams.released_on | dateFormat "2006" }})</a>
							  </td>
							  <td class="top-score text-center">{{ $reviewPage.Params.score }}{{ $mainScoreSuffix }}</td>
							</tr>
						{{ end }}
					</div>
				{{ end }}
			  </tbody>
			</table>
		</div>
	</div>
{{ end }}
