
<div class="page-container">
	<h1 class="page-heading">
        {{ $toCheckSlice := .Site.Params.MetaConfig.FilmographyList }}
        {{ if in $toCheckSlice .Type }}
            {{ .Params.meta.title | default .Title }}'s Filmography
        {{ else }}
            {{ .Params.meta.title | default .Title }}
        {{ end }}
    </h1>
	<div class="page-content-wrapper">
        {{ $pageCount := 8 }}
        {{ $pageMulti := 4 }}
        {{ if .Site.Params.MetaConfig.Pagination }}
            {{ $pageCount = (index .Site.Params.MetaConfig.Pagination .Type) | default 8 }}
            {{ if ne (mod $pageCount $pageMulti) 0 }}
                {{ $pageCount = sub $pageCount (mod $pageCount $pageMulti) }}
            {{ end }}
        {{ end }}

        <!-- Ordering -->
        {{ $orderedPages := .Pages.ByDate.Reverse }}
        {{ if .Site.Params.MetaConfig.Ordering }}
            {{ $pageOrder := (index .Site.Params.MetaConfig.Ordering .Type) | default "date" }}
            {{ if eq $pageOrder "date" }}
                {{ $orderedPages = .Pages.ByDate }}
            {{ else if eq $pageOrder "dateDesc" }}
                {{ $orderedPages = .Pages.ByDate.Reverse }}
            {{ else if eq $pageOrder "release" }}
                {{ $orderedPages = (.Pages.ByParam "meta.released_on") }}
            {{ else if eq $pageOrder "releaseDesc" }}
                {{ $orderedPages = (.Pages.ByParam "meta.released_on").Reverse }}
            {{ else if eq $pageOrder "releaseYear" }}
                {{ $orderedPages = (.Pages.ByParam "meta.year") }}
            {{ else if eq $pageOrder "releaseYearDesc" }}
                {{ $orderedPages = (.Pages.ByParam "meta.year").Reverse }}
            {{ end }}
        {{ end }}

        {{ $paginatedPages := (.Paginate $orderedPages $pageCount).Pages }}
        <div class="post-list title-list-row row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-4">
        {{ range $val := seq $pageCount }}
            {{ $index := sub $val 1}}
            {{ $currentPage := index $paginatedPages $index }}

            {{ if $currentPage }}
                <div class="col">
                    {{ partial "item-title.html" $currentPage }}
                </div>
            {{ end }}
        {{ end }}
        </div>
	</div>
    {{ partial "pagination-number.html" . }}
</div>
