<div class="page-content-wrapper">
	<div class="titlemeta">
		<div class="row titlemeta-head-container">
			{{ partial "layouts/singletitle-meta.html" . }}
		</div>
		<div class="row titlemeta-body-container">
			<!-- Trailer -->
			{{ partial "layouts/singletitle-trailer.html" . }}

			<!-- Related Shows -->
			{{ partial "layouts/singletitle-related.html" . }}

			<!-- Cast And Crew -->
			{{ partial "layouts/singletitle-castcrew.html" . }}

			<!-- Detail -->
			{{ partial "layouts/singletitle-detail.html" . }}

			<!-- External Links -->
			{{ partial "layouts/singletitle-external.html" . }}

			<div class="col-12">
				{{ partial "readmore-link.html" site.Params.ReadMoreLinks.TitleEndNote }}
			</div>
		</div>
	</div>
	<div class="post-single">
		{{ .Content }}
	</div>
</div>
