
{{ $relCount := 5 }}
{{ $currentSet := (where .Site.RegularPages "Type" "in" (slice .Section)) }}
{{ $related := $currentSet.Related . }}
{{ if gt (len $related) (sub $relCount 1) }}
	<div class="col-md-12 col-xs-12 titlemeta-info-container titlemeta-related">
		<h2 class="titlemeta-info-head">You may also like</h2>
		<div class="titlemeta-info-body">
		  {{ $related = first $relCount $related }}
		  <div class="row no-gutters d-flex flex-row flex-nowrap overflow-auto title-list-row singletitle-related">
		  	{{ range $val := seq $relCount }}
		  		{{ $index := sub $val 1 }}
		  		{{ $page := index $related $index }}
		  		{{ if $page }}
			  		<div class="col">
						{{ partial "item-title.html" $page }}
			  		</div>
				{{ end }}
			{{ end }}
		  </div>
		</div>
	</div>
{{ end }}
