{{ $metaParams := .Params.meta }}
<div class="col-md-12 col-xs-12 titlemeta-info-container titlemeta-detail mb-2">
	<h2 class="titlemeta-info-head">{{ (.Site.GetPage .Section).Title }} Detail</h2>
	<div class="titlemeta-info-body">
		<div style="text-indent: 5%;" class="mb-3">{{ $metaParams.storyline }}</div>

		{{ $allTaxos := index .Site.Params.MetaConfig.TitleMetaList .Type }}
		{{ partial "taxo-list.html" (dict "context" . "arr" $allTaxos) }}

		{{ if eq .Type "tvshows"}}
			<div class="titlemeta-info-row">
				<div class="titlemeta-info-label">Series Run:</div>
				<div class="titlemeta-info-data">{{ $metaParams.year }} - {{ $metaParams.year_end }}</div>
			</div>
		{{ end }}

		<!-- Content Rating -->
		<div class="titlemeta-info-row">
			<div class="titlemeta-info-label">Content Rating:</div>
			<div class="titlemeta-info-data">{{ $metaParams.certificate }}</div>
		</div>

		<!-- Release Date -->
		<div class="titlemeta-info-row">
			<div class="titlemeta-info-label">Released On:</div>
			<div class="titlemeta-info-data">{{ $metaParams.released_on | dateFormat (site.Params.Info.DateFormat | default "January 2, 2006") }}</div>
		</div>

		<!-- Language -->
		<div class="titlemeta-info-row">
			<div class="titlemeta-info-label">Language:</div>
			<div class="titlemeta-info-data">
				{{ if .Params.Languages }}
					{{ delimit (.Params.Languages) ", " }}
				{{ else }}
					{{ "Information Not Available" }}
				{{ end }}
			</div>
		</div>

		{{ if eq .Type "tvshows"}}
			<div class="titlemeta-info-row">
				<div class="titlemeta-info-label">Total Seasons:</div>
				<div class="titlemeta-info-data">{{ $metaParams.total_seasons }} seasons</div>
			</div>
			<div class="titlemeta-info-row">
				<div class="titlemeta-info-label">Total Episodes:</div>
				<div class="titlemeta-info-data">{{ $metaParams.total_episodes }} episodes</div>
			</div>
		{{ end }}

		<!-- Running Time -->
		<div class="titlemeta-info-row">
			<div class="titlemeta-info-label">Running Time:</div>
			<div class="titlemeta-info-data">{{ $metaParams.running_time }} minutes</div>
		</div>

		<!-- Production Company -->
		<div class="titlemeta-info-row">
			<div class="titlemeta-info-label">Production Company:</div>
			<div class="titlemeta-info-data">
				{{ if .Params.Productions }}
					{{ delimit (.Params.Productions) ", " }}
				{{ else }}
					{{ "Information Not Available" }}
				{{ end }}
			</div>
		</div>
	</div>
</div>
