
{{ $metaParams := .Params.meta }}

<div class="col-md-3 col-xs-12 titlemeta-poster-wrapper mt-3">
	{{ if not (isset $metaParams "poster") }}
		{{ errorf "poster param not found for %s" .File }}
	{{ end }}

	{{ partial "findposterlink.html" . }}
	{{ if .Scratch.Get "findposterlink_isfound" }}
		{{ $imgLink := .Scratch.Get "findposterlink_result" }}
		<div class="card border-0">
			<div class="titlemeta-poster-container">
				{{ $defaultImage := resources.GetMatch "images/noposter.png" }}
				<img class="lazy titlemeta-poster card-img-top unselectable" src="{{ $defaultImage.Permalink }}" data-src="{{ $imgLink }}" alt="" />
			</div>
			<div class="card-body">
				{{ if .Site.Params.ReadMoreLinks.Poster.ShowInfo }}
				{{ $copyString := "" }}
				{{ $isNoPoster := .Scratch.Get "findposterlink_isnoposter" }}
					{{ if not $isNoPoster }}
					{{ if .Params.Productions }}
						{{ $copyString = delimit (.Params.Productions | default slice) ",&nbsp;" }}
					{{ end }}
				{{ end }}
					<p class="titlemeta-poster-notice card-text text-center">
						<span>
						{{ if $copyString }}
				  		&copy; {{ $copyString }}
				  	{{ else }}
				  		&copy; {{ .Site.Params.ReadMoreLinks.Poster.Message }}
						{{ end }}
						</span>
						<a href="{{ .Site.Params.ReadMoreLinks.Poster.URL | relURL }}">
						({{ .Site.Params.ReadMoreLinks.LinkText | default "Fair Use" }})
						</a>
					</p>
				{{ end }}
			</div>
		</div>
	{{ else }}
		{{ errorf (.Scratch.Get "findposterlink_error") }}
	{{ end }}
</div>

<div class="col-md-9 col-xs-12 titlemeta-data-container">
	<div class="card border-0">
		<div class="card-body">
			<div class="titlemeta-title-container">
				<h2 class="titlemeta-title text-center">{{ $metaParams.title }}</h2>
				<p class="titlemeta-tagline text-center">{{ $metaParams.tagline }}</p>
			</div>
			<div class="titlemeta-review-container">
				{{ partial "findreviews.html" . }}
				{{ $reviews := .Scratch.Get "findreviews_result" }}
				{{ $review := index $reviews 0 }}
				<div class="review-summary">
				  	{{ partial "review-score.html" $review }}
					<hr />
				    <div class="card-text">
				    	<div class="font-weight-bold text-center bottomline-label">Bottomline</div>
				    	{{ if $review }}
				    		<div class="text-center bottomline-data">{{ $review.Params.bottomline }}</div>
						{{ else }}
				    		<div class="text-center grey-text bottomline-data">No Review Yet</div>
						{{ end }}
				    </div>
				    {{ if $review }}
						<hr />
					    <div class="text-center">
					    	<p class="full-review-label">Read Full Review</p>
					    	<h4><a class="card-link full-review-link" href="{{ $review.Permalink }}">{{ $review.Title }}</a></h4>
					    </div>
				    {{ end }}
				</div>
			</div>
		</div>
	</div>
</div>

