<!DOCTYPE html>
<html lang="{{ if .Site.LanguageCode }}{{ .Site.LanguageCode }}{{ else }}en-us{{ end }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="page-wrapper">
    {{ partial "header.html" . }}
    <main class="page-body" aria-label="Content">
		<div class="page-container container {{ if .IsHome }}home{{ else }}{{ .Type }}{{ end }}">
        {{ block "main" . }}{{ end }}
    	</div>
    </main>
    {{ partial "footer.html" . }}
  </div>
  {{ partial "tail.html" . }}
</body>
</html>
