{{ define "main" }}
	<div class="page-container {{ .Type }}">
		<h1 class="page-heading {{ .Type }}">{{ .Title }}</h1>
		<div class="page-description {{ .Type }}">
	      {{ .Content }}
	    </div>
		{{ $paginator := .Paginate (.Pages.ByDate.Reverse) }}
		<div class="page-content-wrapper {{ .Type }}">
			<div class="post-list {{ .Type }}">
				{{ range $paginator.Pages }}
					{{ partial "item-post.html" . }}
				{{ end }}
			</div>
		</div>
		{{ partial "pagination.html" . }}
	</div>
{{ end }}
