{{ define "main" }}
	<h1 class="page-heading">{{ .Title }}</h1>
	{{ if .Content }}
		<div class="page-description">
	      {{ .Content }}
	    </div>
	{{ end }}
	<div class="page-content-wrapper">
		<ul class="post-list">
	        {{ $pageLimit := 10 }}
	        {{ if .Site.Params.MetaConfig.Pagination }}
	            {{ $pageLimit = (index .Site.Params.MetaConfig.Pagination .Data.Plural) | default 10 }}
	        {{ end }}

	        <!-- Ordering -->
	        <!-- Default order -->
		    {{ $orderedPages := .Pages.ByDate.Reverse }}
		    {{ if .Site.Params.MetaConfig.Ordering }}
		        {{ $pageOrder := (index .Site.Params.MetaConfig.Ordering .Type) | default "date" }}
		        <!-- Date -->
		        {{ if eq $pageOrder "date" }}
		            {{ $orderedPages = $orderedPages.ByDate }}
		        <!-- Date Desc -->
		        {{ else if eq $pageOrder "dateDesc" }}
		            {{ $orderedPages = $orderedPages.ByDate.Reverse }}
		        <!-- Alphabetical -->
		        {{ else if eq $pageOrder "alpha" }}
		            {{ $orderedPages = $orderedPages.ByTitle }}
		        <!-- Alphabetical Reverse -->
		        {{ else if eq $pageOrder "alphaDesc" }}
		            {{ $orderedPages = $orderedPages.ByTitle.Reverse }}
		        {{ end }}
		    {{ end }}

		    {{ $customPaginate := .Paginate ($orderedPages) $pageLimit }}
			{{ range $index, $termPage := $customPaginate.Pages }}
			  	<li>
					<a href="{{ .Permalink }}">
						{{ if $termPage.Params.meta }}
							{{ $termPage.Params.meta.title | default $termPage.Title }}
						{{ else }}
							{{ $termPage.Title }}
						{{ end }}
					</a>
					<p>{{ $termPage.Params.Description }}</p>
				</li>
			{{ end }}
		</ul>
		{{ partial "pagination-number.html" . }}
	</div>
{{ end }}
