{{ define "main" }}
<div class="page-container {{ .Type }}">
	<h1 class="page-heading {{ .Type }}">{{ .Title }}</h1>
	<div class="page-description {{ .Type }}">
		{{ .Content }}
	</div>
	<div class="page-content-wrapper">
		<ul class="post-list {{ .Type }}">
		{{ $data := .Data }}
		{{ range $key, $taxon := .Data.Terms.Alphabetical }}
			<li>
				<a href="{{ $taxon.Name | urlize }}">{{ $taxon.Name }}</a> ({{ $taxon.Count }})
				<p>{{ .Page.Params.Description }}</p>
			</li>
		{{ end }}
		</ul>
	</div>
</div>
{{ end }}
