
{{ $context := . }}
{{ $metaName := $context.Params.meta_name }}
{{ $metaType := $context.Params.meta_type }}

{{ $titlesSet := (where $context.Site.RegularPages "Type" "in" (slice "movies" "tvshows")) }}

{{ $titlesRes := (where $titlesSet "File.LogicalName" "==" $metaName) }}
{{ $titlesRes = $titlesRes | union (where $titlesSet "Slug" "==" $metaName) }}
{{ $titlesRes = $titlesRes | union (where $titlesSet "Title" "==" $metaName) }}
{{ $titlesRes = $titlesRes | union (where $titlesSet "File.BaseFileName" "==" $metaName) }}
{{ $titlesRes = $titlesRes | union (where $titlesSet "Params.meta.title" "==" $metaName) }}

{{ if $titlesRes }}
	{{ if eq (len $titlesRes) 1 }}
		{{ $titlePage := index $titlesRes 0 }}
		{{ $context.Scratch.Set "findtitle_result" $titlePage }}
		{{ $context.Scratch.Set "findtitle_isfound" true }}
	{{ else }}
		{{ $context.Scratch.Set "findtitle_isfound" false }}
	{{ end }}
{{ else }}
	{{ $context.Scratch.Set "findtitle_isfound" false }}
{{ end }}
