
{{ $title := .title }}
{{ $year := .year }}
{{ $context := .context }}

{{ $titlesSet := (where $context.Site.RegularPages "Type" "in" (slice "movies" "tvshows")) }}

{{ $titlesRes := (where $titlesSet "Title" "==" $title) }}
{{ $titlesRes = $titlesRes | union (where $titlesSet "Params.meta.title" "==" $title) }}

{{ if $year }}
	{{ $titlesRes = $titlesRes | union (where $titlesRes "Params.meta.year" "==" $year) }}
{{ end }}

{{ if eq (len $titlesRes) 1 }}
	{{ $titlePage := index $titlesRes 0 }}
	{{ if $titlePage }}
		{{ $context.Scratch.Set "findtitlemeta_result" $titlePage }}
		{{ $context.Scratch.Set "findtitlemeta_isfound" true }}
	{{ else }}
		{{ $context.Scratch.Set "findtitlemeta_isfound" false }}
	{{ end }}
{{ else }}
	{{ $context.Scratch.Set "findtitlemeta_isfound" false }}
{{ end }}
