
{{ $title := .title }}
{{ $year := .year }}
{{ $context := .context }}

{{ $titles := (where $context.Site.RegularPages "Type" "in" (slice "movies" "tvshows")) }}

{{ $titlesOne := (where $titles "Title" "==" $title) }}
{{ $titlesTwo := (where $titles "Params.meta.title" "==" $title) }}

{{ $titles = union $titlesOne $titlesTwo }}

{{ $matchCount := 0 }}
{{ if $year }}
	{{ $titleYear := dateFormat "2006" (index $titles 0).Params.meta.released_on }}
	{{ if eq $titleYear $year }}
		{{ $matchCount = add $matchCount 1 }}
	{{ end }}
{{ else }}
	{{ $matchCount = 1 }}
{{ end }}

{{ if and $titles (eq $matchCount 1) }}
	{{ $titlePage := index $titles 0 }}
	{{ if $titlePage }}
		{{ $context.Scratch.Set "findtitlemeta_result" $titlePage }}
		{{ $context.Scratch.Set "findtitlemeta_isfound" true }}
	{{ else }}
		{{ $context.Scratch.Set "findtitlemeta_isfound" false }}
	{{ end }}
{{ else }}
	{{ $context.Scratch.Set "findtitlemeta_isfound" false }}
{{ end }}
