<footer class="page-footer">
    {{ if .Site.Params.Config.ShowFooterNav }}
    <div class="footer-nav">
        <ul class="footer-list">
            {{ if .Site.Params.Config.ShowSocialFooterNav }}
                {{ partial "social-icons.html" . }}
            {{ else }}
                {{ $current := . }}
                {{ range .Site.Menus.footer }}
                    <li class="nav-text"><a class="nav-link" href="{{ .URL | absURL }}" title="{{ .Title }}">{{ .Name }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    {{ end }}
    <div class="footer-notice">
        <div class="footer-copyright">
            &copy; {{ dateFormat "2006" now }} {{ .Site.Title }}. All rights reserved
         </div>
    </div>
</footer>
