<header class="page-header">
  <nav class="header-navigation navbar navbar-expand-lg navbar-light">
      <div class="navbar-brand header-info">
            {{ if .Site.Params.Config.ShowSiteLogo }}
              <div class="navbar-brand-icon header-logo-container">
                  {{ $logoFilePath := (path.Join `static` `images` .Site.Params.Info.Logo) }}
                  {{ if fileExists $logoFilePath }}
                    <a href="{{ .Site.BaseURL }}">
                      <img src="{{ (path.Join `images` .Site.Params.Info.Logo) | absURL }}" />
                    </a>
                  {{ else }}
                    {{ errorf "%s logo file not found" $logoFilePath }}
                  {{ end }}
              </div>
            {{ end }}

          {{ if .Site.Params.Config.ShowSiteTitle }}
            <div class="navbar-brand-text">
                <a href="{{ .Site.BaseURL | absURL }}" class="d-inline">
                  <h1 class="header-sitename">{{ .Site.Title }}</h1>
                  {{ if .Site.Params.Config.ShowSiteSubtitle }}
                    <p class="header-sitedesc">{{ .Site.Params.Info.Subtitle }}</p>
                  {{ end }}
                </a>
            </div>
          {{ end }}
      </div>

    {{ if .Site.Params.Config.ShowHeaderNav }}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {{ $currentPage := . }}
          {{ range .Site.Menus.header }}
              {{ $isInCurrentMenu := or ($currentPage.IsMenuCurrent "header" .) ($currentPage.HasMenuCurrent "header" .) }}
              {{ $isURLMatch := and (eq (trim (path.Base .URL) "/") $currentPage.Section) (ne $currentPage.Section "") }}
              {{ $isTitleMatch := eq .Name $currentPage.Title }}
              {{ $isActive := or $isInCurrentMenu $isURLMatch $isTitleMatch }}

              {{ if .HasChildren }}
                <li class="nav-item dropdown {{ if $isActive }}active{{end}}">
                  <a class="nav-link dropdown-toggle" href="{{ .URL | absURL }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ .Name }}{{ if $isActive }} <span class="sr-only">(current)</span>{{end}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   {{ range .Children }}
                          {{ $isInCurrentMenu := or ($currentPage.IsMenuCurrent "header" .) ($currentPage.HasMenuCurrent "header" .) }}
                          {{ $isURLMatch := and (eq (trim (path.Base .URL) "/") $currentPage.Section) (ne $currentPage.Section "") }}
                          {{ $isTitleMatch := eq .Name $currentPage.Title }}
                          {{ $isChildActive := or $isInCurrentMenu $isURLMatch $isTitleMatch }}
                        <a class="dropdown-item {{ if $isChildActive }}active{{ end }}" href="{{ .URL | absURL }}">{{ .Name }}</a>
                    {{ end }}
                  </div>
                </li>
              {{ else }}
                <li class="nav-item {{ if $isActive }}active{{end}}">
                  <a class="nav-link" href="{{ .URL | absURL }}" title="{{ .Title }}">{{ .Name }}{{ if $isActive }} <span class="sr-only">(current)</span>{{end}}</a>
                </li>
              {{ end }}
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </nav>
</header>
