<header class="page-header">
  <nav class="header-navigation navbar navbar-expand-lg navbar-light">
      <div class="header-info">
          <a class="navbar-brand" href="{{ .Site.BaseURL }}">
            <div class="d-flex align-items-center">
              {{ if .Site.Params.Controls.ShowSiteLogo }}
                <div class="navbar-brand-icon header-logo-container">
                    {{ $logoFilePath := (path.Join `static` `images` .Site.Params.Info.Logo) }}
                    {{ if fileExists $logoFilePath }}
                        <img class="unselectable" src="{{ (path.Join `images` .Site.Params.Info.Logo) | absURL }}" />
                    {{ else }}
                      {{ errorf "%s logo file not found" $logoFilePath }}
                    {{ end }}
                </div>
              {{ end }}

              {{ if .Site.Params.Controls.ShowSiteTitle }}
              <div class="navbar-brand-text">
                  <h2 class="header-sitename">{{ .Site.Title }}</h2>
                  {{ if .Site.Params.Controls.ShowSiteTagline }}
                    <p class="header-sitedesc">{{ .Site.Params.Info.Tagline }}</p>
                  {{ end }}
              </div>
              {{ end }}
            </div>
          </a>
      </div>

    {{ if .Site.Params.Controls.ShowHeaderNav }}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav {{ if .Site.Params.Search.Enable }}mx-auto{{ else }}ml-auto{{ end }}">
          {{ $currentPage := . }}
          {{ range .Site.Menus.header }}
              {{ $isInCurrentMenu := or ($currentPage.IsMenuCurrent "header" .) ($currentPage.HasMenuCurrent "header" .) }}
              {{ $isURLMatch := and (eq (trim (path.Base .URL) "/") $currentPage.Section) (ne $currentPage.Section "") }}
              {{ $isTitleMatch := eq .Name $currentPage.Title }}
              {{ $isActive := or $isInCurrentMenu $isURLMatch $isTitleMatch }}

              {{ if .HasChildren }}
                <li class="nav-item dropdown {{ if $isActive }}active{{end}}">
                  <a class="nav-link text-truncate dropdown-toggle" href="{{ .URL | absURL }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ .Name }}{{ if $isActive }} <span class="sr-only">(current)</span>{{end}}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                   {{ range .Children }}
                          {{ $isInCurrentMenu := or ($currentPage.IsMenuCurrent "header" .) ($currentPage.HasMenuCurrent "header" .) }}
                          {{ $isURLMatch := and (eq (trim (path.Base .URL) "/") $currentPage.Section) (ne $currentPage.Section "") }}
                          {{ $isTitleMatch := eq .Name $currentPage.Title }}
                          {{ $isChildActive := or $isInCurrentMenu $isURLMatch $isTitleMatch }}
                        <a class="dropdown-item {{ if $isChildActive }}active{{ end }}" href="{{ .URL | absURL }}">{{ .Name }}</a>
                    {{ end }}
                  </div>
                </li>
              {{ else }}
                <li class="nav-item {{ if $isActive }}active{{end}}">
                  <a class="nav-link text-truncate" href="{{ .URL | absURL }}" title="{{ .Title }}">{{ .Name }}{{ if $isActive }} <span class="sr-only">(current)</span>{{end}}</a>
                </li>
              {{ end }}
          {{ end }}
        </ul>
        {{ if .Site.Params.Search.Enable }}
          <form class="navbar-search form-inline my-2 my-lg-0 mx-xs-auto">
            <input class="form-control mr-sm-2" type="search" id="search-input" placeholder="search movies, tvshows, actors..." autocomplete="off" />
          </form>
        {{ end }}
      </div>
    {{ end }}
  </nav>
</header>

