<header class="page-header">
  <div class="clearfix">
    {{ $isSiteLogoExists := false }}
    {{ if and (.Site.Params.Config.ShowSiteLogo) (.Site.Params.Info.Logo) }}
      {{ $logoFilePath := (path.Join `static` `images` .Site.Params.Info.Logo) }}
      {{ if fileExists $logoFilePath }}
        {{ $isSiteLogoExists = true }}
        <a href="{{ .Site.BaseURL }}" class="site-avatar">
          <img loading="lazy" src="{{ (path.Join `images` .Site.Params.Info.Logo) | absURL }}" />
        </a>
      {{ else }}
        {{ errorf "%s logo file not found" $logoFilePath }}
      {{ end }}
    {{ end }}

    {{ if or (.Site.Params.Config.ShowSiteTitle) (not $isSiteLogoExists) }}
      <div class="site-info">
          <a href="{{ .Site.BaseURL | absURL }}">
            <h1 class="site-name">
              {{ .Site.Title }}
            </h1>
            {{ if .Site.Params.Config.ShowSiteSubtitle }}
              <p class="site-description">{{ .Site.Params.Info.Subtitle }}</p>
            {{ end }}
          </a>
      </div>
    {{ end }}

    {{ if .Site.Params.Config.ShowHeaderNav }}
      <nav class="header-nav">
        {{ $current := . }}
        {{ range .Site.Menus.header }}
            {{ $isInCurrentMenu := or ($current.IsMenuCurrent "header" .) ($current.HasMenuCurrent "header" .) }}
            {{ $isURLMatch := and (eq (trim (path.Base .URL) "/") $current.Section) (ne $current.Section "") }}
            {{ $isTitleMatch := eq .Name $current.Title }}
            {{ $active := or $isInCurrentMenu $isURLMatch $isTitleMatch }}
            <a class="nav-link {{ if $active }}active{{end}}" href="{{ .URL | absURL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
      </nav>
    {{ end }}
  </div>
</header>
