<div class="post-list-item title-list-item col-md-3 col-6">
    <a class="title-item-link" href="{{ .Permalink }}">
    {{ $titlePage := . }}
      {{ partial "findposterlink.html" $titlePage }}
      {{ if $titlePage.Scratch.Get "findposterlink_isfound" }}
        <div class="title-item-poster">
          <img loading="lazy" src="{{ $titlePage.Scratch.Get "findposterlink_result" }}">
        </div>
        <div class="title-item-meta">
          <h2 class="title-item-title">{{ .Title }}</h2>
          <span class="title-item-date">{{ .Params.meta.released_on | dateFormat "2006" }}</span>
        </div>
      {{ else }}
        {{ errorf $titlePage.Scratch.Get "findposterlink_error" }}
      {{ end }}
    </a>
</div>
