<div class="post-list-item">
  <h2 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ if and (.Params.Starred) (.Site.Params.Config.ShowStarredIcon) }}
    <span class="starred"></span>
    {{ end }}
  </h2>
  <div class="post-meta">
    <div class="row">
      
        <div class="col-md col-12">
          <span class="post-description">{{ .Description }}</span>
        </div>
        <div class="col-md col-12 justify-content-end">
            {{ if or (.Params.tags) (.Params.reviewtags) }}
              <span class="post-taxonomies">
              {{ range $index, $tag := .Params.reviewtags }}
                {{ $tagURL := (delimit (slice "reviewtags" $tag) "/") | urlize }}
                {{ $tagPage := $.Site.GetPage (printf "%s" $tagURL)}}
                {{ if $tagPage }}
                    <a class="post-taxonomy tag" href="{{ $tagPage.Permalink }}">{{ $tagPage.Title }}</a>
                {{ else }}
                    {{ errorf "%v reviewtags page is not found" $tag }}
                {{ end }}
              {{ end }}

              {{ range $index, $tag := .Params.tags }}
                {{ $tagURL := (delimit (slice "tags" $tag) "/") | urlize }}
                {{ $tagPage := $.Site.GetPage (printf "%s" $tagURL)}}
                {{ if $tagPage }}
                    <a class="post-taxonomy tag" href="{{ $tagPage.Permalink }}">{{ $tagPage.Title }}</a>
                {{ else }}
                    {{ errorf "%v tags page is not found" $tag }}
                {{ end }}
              {{ end }}
              </span>
            {{ end }}
        </div>

    </div>
  </div>

  {{ if .Site.Params.Config.ShowSummaryInPostList }}
    <div class="post-summary">
      {{ .Summary }}
    </div>
  {{ end }}
</div>
