<div class="post-list-item">
  <h2 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ if and (.Params.Starred) (.Site.Params.Config.ShowStarredIcon) }}
    <span class="starred"></span>
    {{ end }}
  </h2>
  <p class="post-description">{{ .Description }}</p>
  <div class="post-meta">
    <!-- <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span> -->

    {{ if .Params.tags }}
      <span class="post-taxonomies tags">
      {{ range $index, $tag := .Params.tags }}
        {{ $tagURL := (delimit (slice "tags" $tag) "/") | urlize }}
        {{ $tagPage := $.Site.GetPage (printf "%s" $tagURL)}}
        {{ if $tagPage }}
            <a class="post-taxonomy tag" href="{{ $tagPage.Permalink }}">{{ $tagPage.Title }}</a>
        {{ else }}
            {{ errorf "%v tags page is not found" $tag }}
        {{ end }}
      {{ end }}
      </span>
    {{ end }}
  </div>

  {{ if .Site.Params.Config.ShowSummaryInPostList }}
    <div class="post-summary">
      {{ .Summary }}
    </div>
  {{ end }}
</div>
