
<div class="page-container {{ .Type }}">
	<h1 class="page-heading {{ .Type }}">{{ .Title }}</h1>
	<div class="page-content-wrapper {{ .Type }}">
		{{ $paginatedPages := (.Paginator 8).Pages.ByDate.Reverse }}
        {{ $totalCount := len $paginatedPages }}
        {{ $splitCount := 4 }}

        {{ $index := 0 }}
        {{ range $taxonomyTerm, $taxonomy := $paginatedPages }}
            {{ if eq $index 0}}
    			<div class="post-list {{ .Type }} row title-list-row">
            {{ else if (eq $index $totalCount) }}
                </div>
            {{ else if (eq (mod $index $splitCount) 0) }}
                </div>
    			<div class="post-list {{ .Type }} row title-list-row">
            {{ end }}
			{{ partial "item-title.html" . }}
            {{ $index = add $index 1 }}
        {{ end }}
	</div>
	{{ partial "pagination.html" . }}
</div>

