<div class="movie-card">
	{{ $metaParams := .Params.meta }}
	<div class="row">		
		<div class="col-md-4 col-xs-12 movie-poster-container">
			{{ if not (isset $metaParams "poster") }}
				{{ errorf "poster param not found for %s" .File }}
			{{ end }}

			{{ $posterLocal := $metaParams.poster.local }}
			{{ $posterRemote := $metaParams.poster.remote }}

			{{ if $posterLocal }}
				{{ $filePath := path.Join "images" "posters" $posterLocal }}
				{{ $posterRes := resources.GetMatch $filePath }}
				{{ if $posterRes }}
					<img class="movie-poster" src="{{ $posterRes.Permalink }}">
				{{ else }}
					{{ errorf "'%s' file not found for '%s'" .Params.poster .File }}
				{{ end }}
			{{ else if $posterRemote }}
				<img class="movie-poster" src="{{ $posterRemote }}">
			{{ else }}
				{{ errorf "poster param not found for %s" .File }}
			{{ end }}
		</div>
		<div class="col-md-8 col-xs-12 movie-meta">
			<h2 class="movie-title">{{ $metaParams.title }}</h2>
			<p class="movie-tagline">{{ $metaParams.tagline }}</p>
			{{ partial "review-score.html" . }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xs-12 movie-crew">
			<h2>Cast &amp; Crew</h2>
			<div class="movie-meta-container">
				{{ $allTaxos := .Site.Params.Meta.CastCrewList }}
				{{ partial "taxo-list.html" (dict "context" . "arr" $allTaxos) }}
			</div>
		</div>
		<div class="col-md-12 col-xs-12 movie-detail mb-2">
			<h2>Movie Detail</h2>
			<div class="movie-meta-container">
				<div style="text-indent: 5%;" class="mb-3">{{ $metaParams.storyline }}</div>
				{{ $allTaxos := .Site.Params.Meta.MovieDetailList }}
				{{ partial "taxo-list.html" (dict "context" . "arr" $allTaxos) }}
				<div class="movie-meta-row">
					<div class="movie-meta-label">Certificate:</div>
					<div class="movie-meta-data">{{ $metaParams.certificate }}</div>
				</div>
				<div class="movie-meta-row">
					<div class="movie-meta-label">Released On:</div>
					<div class="movie-meta-data">{{ $metaParams.released_on | dateFormat "02 Jan 2006" }}</div>
				</div>
				<div class="movie-meta-row">
					<div class="movie-meta-label">Running Time:</div>
					<div class="movie-meta-data">{{ $metaParams.running_time }} minutes</div>
				</div>

				{{ if eq .Type "tvshows"}}
					<div class="movie-meta-row">
						<div class="movie-meta-label">Series Run: </div>
						<div class="movie-meta-data">{{ $metaParams.series_start_year }} - {{ $metaParams.series_end_year }}</div>
					</div>
					<div class="movie-meta-row">
						<div class="movie-meta-label">Total Episodes:</div>
						<div class="movie-meta-data">{{ $metaParams.episodes_count }}</div>
					</div>
				{{ end }}
			</div>
		</div>

		<div class="col-md-12 col-xs-12 movie-external">
			{{ if $metaParams.external_links }}
				<h2>External Links</h2>
				<div class="movie-meta-container">
					<div class="movie-meta-row">
						<div class="movie-meta-data">
							<ul>
							{{ if $metaParams.external_links.imdb }}
							<li><a target="_blank" href="{{ $metaParams.external_links.imdb }}">IMDb</a></li>
							{{ end }}

							{{ if $metaParams.external_links.rotten_tomatoes }}
							<li><a target="_blank" href="{{ $metaParams.external_links.rotten_tomatoes }}">RottenTomatoes</a></li>
							{{ end }}
							{{ if $metaParams.external_links.meta_critic }}
							<li><a target="_blank" href="{{ $metaParams.external_links.meta_critic }}">MetaCritic</a></li>
							{{ end }}

							{{ if $metaParams.external_links.wikipedia }}
							<li><a target="_blank" href="{{ $metaParams.external_links.wikipedia }}">Wikipedia</a></li>
							{{ end }}
							</ul>
						</div>
					</div>
				</div>
			{{ end }}
		</div>
	</div>
</div>
