<div class="movie-card">
	{{ $metaParams := .Params.meta }}
	<div class="row">		
		<div class="col-md-4 col-xs-12 movie-poster-container">
			{{ if not (isset .Params "poster") }}
				{{ errorf "poster param not found for %s" .File }}
			{{ end }}

			{{ $posterLocal := .Params.poster.local }}
			{{ $posterRemote := .Params.poster.remote }}

			{{ if $posterLocal }}
				{{ $filePath := path.Join "images" "posters" $posterLocal }}
				{{ $posterRes := resources.GetMatch $filePath }}
				{{ if $posterRes }}
					<img class="movie-poster" src="{{ $posterRes.Permalink }}">
				{{ else }}
					{{ errorf "'%s' file not found for '%s'" .Params.poster .File }}
				{{ end }}
			{{ else if $posterRemote }}
				<img class="movie-poster" src="{{ $posterRemote }}">
			{{ else }}
				{{ errorf "poster param not found for %s" .File }}
			{{ end }}
		</div>
		<div class="col-md-8 col-xs-12 movie-meta">
			<h2 class="movie-title">{{ $metaParams.title }}</h2>
			<p class="movie-tagline">{{ $metaParams.tagline }}</p>
			{{ partial "review-score.html" . }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xs-12 movie-crew">
			<h2>Cast &amp; Crew</h2>
			<div class="movie-meta-container">
				{{ $allTaxos := slice "actors" "directors" "music_directors" "cinematographers"}}
				{{ partial "taxo-list.html" (dict "context" . "arr" $allTaxos) }}
			</div>
		</div>
		<div class="col-md-12 col-xs-12 movie-detail">
			<h2>Movie Detail</h2>
			<div class="movie-meta-container">
				{{ $allTaxos := slice "genres" "plot_tags"}}
				{{ partial "taxo-list.html" (dict "context" . "arr" $allTaxos) }}
			</div>
		</div>

		<div class="col-md-12 col-xs-12 movie-external">
			<h2>External Links</h2>
			<div class="movie-meta-container">
				<div class="movie-meta-row">
					<div class="movie-meta-label clearfix">Links:</div>
					<div class="movie-meta-data clearfix">
						<a target="_blank" href="{{ $metaParams.links.imdb }}">IMDb</a>, 
						<a target="_blank" href="{{ $metaParams.links.rotten_tomatoes }}">RottenTomatoes</a>, 
						<a target="_blank" href="{{ $metaParams.links.meta_critic }}">MetaCritic</a>, 
						<a target="_blank" href="{{ $metaParams.links.wikipedia }}">Wikipedia</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
