{{ $root := . }}
{{ $paginator := .Paginator }}

{{ $typeName := "" }}
{{ if .IsHome }}
	{{ $typeName = "Posts" }}
{{ else }}
	{{ $typeName = $root.Type | title }}
{{ end }}

{{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
	<div class="post-pagination">
	  {{ if $paginator.HasPrev }}
	  	<a class="btn previous" href="{{ $paginator.Prev.URL }}">Newer {{ $typeName }}</a>
	  {{ end }}
	  {{ if $paginator.HasNext }}
	  	<a class="btn next" href="{{ $paginator.Next.URL }}">Older {{ $typeName }}</a>
	  {{ end }}
	</div>
{{ end }}
