{{ $review := . }}

{{ $mainName := site.Params.Meta.MainScore }}
{{ $mainValue := "" }}
{{ $finalCustomValues := slice }}
{{ $isReviewExists := ne $review nil }}

{{ $customScoreNames := site.Params.Meta.CustomScores }}

{{ if $review }}
	{{ $mainValue = printf "%v%v" ($review.Params.score) (site.Params.Meta.MainScoreSuffix | default "%") }}

	{{ $customSuffixes := site.Params.Meta.CustomScoresSuffix }}
	{{ $customScores := $review.Params.custom_scores }}
	{{ range $custIndex, $scoreName := $customScoreNames }}
		{{ $textToShow := "" }}

		{{ $scoreVal := index $customScores $custIndex }}

		{{ if $scoreVal }}
			{{ $customNameData := index (site.Params.Meta.CustomRatingLookUp) $custIndex }}
			{{ if $customNameData }}
				{{ $textToShow = index $customNameData $scoreVal | default "" }}
			{{ end }}

			{{ if not ($textToShow) }}
				{{ $textToShow = $scoreVal }}
				{{ $suffix := index $customSuffixes $custIndex | default "%" }}
				{{ $textToShow = printf "%v%v" $textToShow $suffix }}
			{{ end }}
		{{ else }}
			{{ $textToShow = "None" }}
		{{ end }}
		{{ $finalCustomValues = $finalCustomValues | append $textToShow }}
	{{ end }}
{{ else }}
	{{ $mainValue = "No Score Yet" }}
	{{ range $custIndex, $scoreName := $customScoreNames }}
		{{ $finalCustomValues = $finalCustomValues | append "No Score Yet" }}
	{{ end }}
{{ end }}

<div class="container-fluid review-score-container">
	<div class="row review-score">
		{{ define "partials/rating-card" }}
			{{ $scoreVal := .value }}
			{{ $scoreName := .name }}
			{{ $isReview := .isreview | default false }}
			<div class="col-auto score-rating">
				<div class="card">
					<div class="card-body score-rating-data {{ if $isReview }}big-text{{ else }}grey-text{{ end }}">
						{{ $scoreVal }}
					</div>
					<div class="card-footer score-rating-label">
						{{ $scoreName }}
					</div>
				</div>
			</div>
		{{ end }}

		<div class="d-flex flex-row flex-nowrap overflow-auto">
			<!-- Main Score -->
			{{ partial "rating-card" (dict "name" $mainName "value" $mainValue "isreview" $isReviewExists) }}

			<!-- Custom Score -->
			{{ range $custIndex, $scoreName := $customScoreNames }}
				{{ $value := index $finalCustomValues $custIndex }}
				{{ partial "rating-card" (dict "name" $scoreName "value" $value "isreview" $isReviewExists) }}
			{{ end }}
		</div>
	</div>
	{{ if site.Params.Disclaimer.ShowRating }}
		<div class="text-center">
			<a href="{{ site.Params.Disclaimer.RatingLink | relURL }}">
	  		({{ site.Params.Disclaimer.RatingLinkText | default "more info on ratings" }})
	  		</a>
		</div>
	{{ end }}
</div>
