<!-- theme js -->

{{ $jsFiles := slice }}

{{ $bootstrapJS := resources.Get "js/third_party/bootstrap.bundle.min.js" }}
{{ $jqueryJS := resources.Get "js/third_party/jquery.slim.min.js" }}
{{ $ytLiteJS := resources.Get "js/third_party/youtube-lite.js" }}
{{ $mainJS := resources.Get "js/main.js" }}

{{ $algoLiteJS := resources.Get "js/third_party/algoliasearchLite.min.js" }}
{{ $autoJS := resources.Get "js/third_party/autocomplete.min.js" }}

{{ $jsFiles = $jsFiles | append $jqueryJS }}
{{ $jsFiles = $jsFiles | append $bootstrapJS }}
{{ $jsFiles = $jsFiles | append $ytLiteJS }}
{{ $jsFiles = $jsFiles | append $mainJS }}

{{ if .Site.Params.Search.Enable }}
	{{ $jsFiles = $jsFiles | append $algoLiteJS }}
	{{ $jsFiles = $jsFiles | append $autoJS }}
{{ end }}

<!-- custom js -->
{{- range $scriptPath := .Site.Params.Style.JS -}}
	{{ $customJs := resources.Get $scriptPath }}
	{{ $jsFiles = $jsFiles | append $customJs }}
{{- end -}}

{{ if gt (len $jsFiles) 0 }}
	{{ $secureScript := $jsFiles | resources.Concat "js/script.js" }}
	{{ $secureScript = $secureScript | resources.Minify | resources.Fingerprint "sha512" }}
	<script type="text/javascript" src="{{ $secureScript.Permalink }}" integrity="{{ $secureScript.Data.Integrity }}"></script>
{{ end }}

{{ if .Site.Params.Search.Enable }}
    <script>
      $(document).ready(function(){
        var client = algoliasearch("{{ .Site.Params.Search.AppID }}", "{{ .Site.Params.Search.SearchAPIKey }}");
        var index = client.initIndex("{{ .Site.Params.Search.IndexName }}");

        var options = {
            hint: false,
            templates: {
              dropdownMenu: `
                  <div class="my-custom-menu">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="aa-dataset-d1"></div>
                      </div>
                      <div class="col-sm-6">
                        <div class="aa-dataset-d2"></div>
                        <div class="aa-dataset-d3"></div>
                      </div>
                    </div>
                  </div>`,
              empty: `<div><p class="text-center">No Results</p></div>`
          }
        };

        var countPerPage = {{ .Site.Params.Search.CountPerPage | default 10 }}

        var datasets = [
            {
                source: autocomplete.sources.hits(index, { hitsPerPage: countPerPage }),
                displayKey: 'SearchIndex',
                templates: {
                  suggestion: function(suggestion) {
                    var val = suggestion._highlightResult.title.value;
                    var type = suggestion.type;
                    return `<div>${val}<span class="float-right"><small>${type}</span></div></small>`;
                  }
                }
            }
        ];

        autocomplete('#search-input', options, datasets).on("autocomplete:selected",function(event, suggestion, dataset, context) {
                window.location.href = suggestion.href;
          });
      });
    </script>
{{ end }}