<!-- theme js -->

{{ $jsFiles := slice }}

{{ $bootstrapJS := resources.Get "js/third_party/bootstrap.bundle.min.js" }}
{{ $jqueryJS := resources.Get "js/third_party/jquery.slim.min.js" }}
{{ $ytLiteJS := resources.Get "js/third_party/youtube-lite.js" }}
{{ $jsFiles = $jsFiles | append $jqueryJS }}
{{ $jsFiles = $jsFiles | append $bootstrapJS }}
{{ $jsFiles = $jsFiles | append $ytLiteJS }}

<!-- custom js -->
{{- range $scriptPath := .Site.Params.Style.JS -}}
	{{ $customJs := resources.Get $scriptPath }}
	{{ $jsFiles = $jsFiles | append $customJs }}
{{- end -}}

{{ if gt (len $jsFiles) 0 }}
	{{ $secureScript := $jsFiles | resources.Concat "js/script.js" }}
	{{ $secureScript = $secureScript | resources.Minify | resources.Fingerprint "sha512" }}
	<script type="text/javascript" src="{{ $secureScript.Permalink }}" integrity="{{ $secureScript.Data.Integrity }}"></script>
{{ end }}
