{{ $allTaxos := .arr }}
{{ $context := .context }}
{{ range $index1, $taxoName := $allTaxos }}
	<div class="movie-meta-row movie-taxonomies {{ $taxoName }}">
		{{ with $context.Site.GetPage (printf "/%s" $taxoName) }}
			<div class="movie-meta-label clearfix">{{ .Title }}:</div>
		{{ end }}
		<div class="movie-meta-data clearfix">
			{{ $allTerms := $context.Param $taxoName}}
			{{ if $allTerms }}
				{{ $termSize := len $allTerms }}
				{{ $limitSize := ((index $context.Site.Params.Meta.DetailListLimit $taxoName) | default $termSize) }}
				{{ range $index, $tag := (first $limitSize $allTerms) }}
				  {{ $tagName := . }}
				  {{ $tagURL := (delimit (slice $taxoName ($tag | urlize)) "/") }}

				  {{ $taxoPage := $context.Site.GetPage (printf "%s" $tagURL) }}
				  {{ if $taxoPage  }}
				    <a class="movie-taxonomy-link" href="{{ $taxoPage.Permalink }}">{{ $tagName }}</a>
				    {{- if lt $index (sub $limitSize 1) -}}, {{ end }}
				  {{ else }}
				  	{{ warnf "%v taxonomy is not valid" $tagURL}}
				  {{ end }}
				{{ end }}
			{{ else }}
				{{ if (in $context.Site.Params.Meta.OptionalList $taxoName) }}
					Information Not Available
				{{ else }}
					{{ errorf "no terms for %v in %v" $taxoName $context.File }}
				{{ end }}
			{{ end }}
		</div>
	</div>
{{ end }}
