{{ $allTaxos := .arr }}
{{ $context := .context }}
{{ range $index1, $taxoName := $allTaxos }}
	<div class="titlemeta-info-row titlemeta-taxonomies {{ $taxoName }}">
		{{ $termPage := $context.Site.GetPage (printf "/%s" $taxoName) }}
		{{ if $termPage }}
			{{ $allTerms := $context.Param $taxoName}}
			{{ if $allTerms }}
				{{ $termSize := len $allTerms }}
				{{ $limitSize := ((index $context.Site.Params.Meta.DetailListLimit $taxoName) | default $termSize) }}
				{{ $allTerms = first $limitSize $allTerms }}
				<div class="titlemeta-info-label clearfix">{{ $termPage.Title }}:</div>
				<div class="titlemeta-info-data clearfix">
					{{ partial "taxo-links.html" (dict "allterms" $allTerms "context" $context "taxoname" $taxoName) }}
				</div>
			{{ else }}
				<div class="titlemeta-info-label clearfix">{{ $termPage.Title }}:</div>
				<div class="titlemeta-info-data clearfix">Information Not Available</div>
			{{ end }}
		{{ else }}
			{{ errorf "%v taxonomy term page is not valid" $taxoName}}
		{{ end }}
	</div>
{{ end }}
