
{{ $metaParams := .Params.meta }}

<div class="col-md-4 col-xs-12 titlemeta-poster-container">
	{{ if not (isset $metaParams "poster") }}
		{{ errorf "poster param not found for %s" .File }}
	{{ end }}

	{{ partial "findposterlink.html" . }}
	{{ if .Scratch.Get "findposterlink_isfound" }}
		{{ $imgLink := .Scratch.Get "findposterlink_result" }}
		<img loading="lazy" class="titlemeta-poster unselectable" src="{{ $imgLink }}">
	{{ else }}
		{{ errorf (.Scratch.Get "findposterlink_error") }}
	{{ end }}
</div>

<div class="col-md-8 col-xs-12 titlemeta-data-container">
	<div class="card border-0">
		<div class="card-body">
			<div class="titlemeta-title-container">
				<h2 class="titlemeta-title text-center">{{ $metaParams.title }}</h2>
				<p class="titlemeta-tagline text-center">{{ $metaParams.tagline }}</p>
			</div>
			<div class="titlemeta-review-container">
				{{ partial "findreviews.html" . }}
				{{ $reviews := .Scratch.Get "findreviews_result" }}
				{{ $review := index $reviews 0 }}
				<div class="review-summary">
				  	{{ partial "review-score.html" $review }}
					<hr />
				    <div class="card-text">
				    	<div class="font-weight-bold text-center">Bottomline</div>
				    	{{ if $review }}
				    		<div class="text-center">{{ $review.Params.bottomline }}</div>
						{{ else }}
				    		<div class="text-center grey-text">No Review Yet</div>
						{{ end }}
				    </div>
				    {{ if $review }}
						<hr />
					    <div class="text-center">
					    	Read Full Review <br />
					    	<h4><a class="card-link" href="{{ $review.Permalink }}">{{ $review.Title }}</a></h4>
					    </div>
				    {{ end }}
				</div>
			</div>
		</div>
	</div>
</div>

