
{{ $metaParams := .Params.meta }}

<div class="col-md-4 col-xs-12 titlemeta-poster-container">
	{{ if not (isset $metaParams "poster") }}
		{{ errorf "poster param not found for %s" .File }}
	{{ end }}

	{{ partial "findposterlink.html" . }}
	{{ if .Scratch.Get "findposterlink_isfound" }}
		<img loading="lazy" class="titlemeta-poster unselectable" src="{{ .Scratch.Get "findposterlink_result" }}">
	{{ else }}
		{{ errorf .Scratch.Get "findposterlink_error" }}
	{{ end }}
</div>

<div class="col-md-8 col-xs-12 titlemeta-data-container">
	<div class="card border-0">
		<div class="card-body">
			<div class="titlemeta-title-container">
				<h2 class="titlemeta-title text-center">{{ $metaParams.title }}</h2>
				<p class="titlemeta-tagline text-center">{{ $metaParams.tagline }}</p>
			</div>
			<div class="titlemeta-review-container">
				{{ partial "findreviews.html" . }}
				{{ $reviews := .Scratch.Get "findreviews_result" }}
				{{ $review := index $reviews 0 }}
				<div class="review-summary">
				  	<div class="container review-score">
				  		<div class="row">
				  			<div class="col score-rating main-score text-center">
								{{ if $review }}
									<div class="score-rating-data big-text">{{ $review.Params.score }}%</div>
								{{ else }}
									<div class="score-rating-data grey-text">No Score Yet</div>
								{{ end }}
								<div class="score-rating-label">{{ $.Site.Params.Meta.MainScore }}</div>
							</div>
							{{ $customScoreNames := $.Site.Params.Meta.CustomScores }}
							{{ $customScores := $review.Params.custom_scores }}
							{{ range $index, $scoreName := $customScoreNames }}
								<div class="col score-rating custom-score text-center">
									{{ if $review }}
										<div class="score-rating-data big-text">{{ index $customScores $index }}%</div>
									{{ else }}
										<div class="score-rating-data grey-text">No Score Yet</div>
									{{ end }}
									<div class="score-rating-label">{{ $scoreName }}</div>
								</div>
							{{ end }}
				  		</div>
					</div>
					<hr />
				    <div class="card-text">
				    	<div class="font-weight-bold text-center">Bottomline</div>
				    	{{ if $review }}
				    		<div class="text-center">{{ $review.Params.bottomline }}</div>
						{{ else }}
				    		<div class="text-center grey-text">No Review Yet</div>
						{{ end }}
				    </div>
				    {{ if $review }}
						<hr />
					    <div class="text-center">
					    	Read Full Review <br />
					    	<h4><a class="card-link" href="{{ $review.Permalink }}">{{ $review.Title }}</a></h4>
					    </div>
				    {{ end }}
				</div>
			</div>
		</div>
	</div>
</div>

