
{{ $metaParams := .Params.meta }}

<div class="col-md-4 col-xs-12 titlemeta-poster-container">
	{{ if not (isset $metaParams "poster") }}
		{{ errorf "poster param not found for %s" .File }}
	{{ end }}

	{{ partial "findposterlink.html" . }}
	{{ if .Scratch.Get "findposterlink_isfound" }}
		<img loading="lazy" class="titlemeta-poster unselectable" src="{{ .Scratch.Get "findposterlink_result" }}">
	{{ else }}
		{{ errorf .Scratch.Get "findposterlink_error" }}
	{{ end }}
</div>

<div class="col-md-8 col-xs-12 titlemeta-data-container">
	<div class="card border-0">
		<div class="card-body">
			<div class="titlemeta-title-container">
				<h2 class="titlemeta-title text-center">{{ $metaParams.title }}</h2>
				<p class="titlemeta-tagline text-center">{{ $metaParams.tagline }}</p>
			</div>
			<div class="titlemeta-review-container">
				{{ partial "findreviews.html" . }}
				{{ $reviews := .Scratch.Get "findreviews_result" }}
				{{ $review := index $reviews 0 }}
				<div class="review-summary">
					{{ if $review }}
						{{ $mainScore := $review.Params.score }}
						  	<div class="container review-score">
						  		<div class="row">
						  			<div class="col score-rating main-score text-center">
										<div class="score-rating-data">{{ $mainScore }}%</div>
										<div class="score-rating-label">{{ $.Site.Params.Meta.MainScore }}</div>
									</div>
									{{ $customScoreNames := $.Site.Params.Meta.CustomScores }}
									{{ range $index, $score := $review.Params.custom_scores }}
										<div class="col score-rating custom-score text-center">
											<div class="score-rating-data">{{ $score }}%</div>
											<div class="score-rating-label">{{ index $customScoreNames $index }}</div>
										</div>
									{{ end }}
						  		</div>
							</div>
							<hr />
						    <div class="card-text">
						    	<span class="font-weight-bold text-center d-block">Bottomline</span>
						    	<span class="text-center d-block">{{ $review.Params.bottomline }}</span>
						    </div>
							<hr />
						    <div class="text-center">
						    	Read Full Review <br />
						    	<h4><a class="card-link" href="{{ $review.Permalink }}">{{ $review.Title }}</a></h4>
						    </div>
					{{ else }}
						<div class="review-consensus">
							<div><span class="font-weight-bold">Bottomline:</span> No review yet</div>
						</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</div>

