{{ $reviews := .arr }}
{{ $context := .context }}

{{ $limit := $context.Site.Params.Meta.TopListCount }}
{{ $mainScoreName := $context.Site.Params.Meta.MainScore }}
{{ $reviews = first $limit $reviews }}

{{ if $reviews }}
	<div class="page-content-wrapper {{ $context.Type }}">
		<div class="post-list {{ $context.Type }}">
			<table>
			  <thead>
			    <th>Movie</th>
			    <th>{{ $mainScoreName }}</th>
			  </thead>
			  <tbody>
				{{ range $index, $reviewPage := $reviews }}
					<div class="top-item">
						{{ partial "findtitle.html" $reviewPage }}
						{{ if $reviewPage.Scratch.Get "findtitle_isfound" }}
							{{ $metaPage := $reviewPage.Scratch.Get "findtitle_result" }}
							{{ $metaParams := $metaPage.Params.meta }}
							<tr class="post-list-item {{ $reviewPage.Type }}">
							  <td class="post-title {{ $reviewPage.Type }}">
							    <a href="{{ $metaPage.Permalink }}">{{ $metaParams.Title }} ({{ $metaParams.released_on | dateFormat "2006" }})</a>
							  </td>
							  <td class="top-score">{{ $reviewPage.Params.score }}</td>
							</tr>
						{{ end }}
					</div>
				{{ end }}
			  </tbody>
			</table>
		</div>
	</div>
{{ end }}
