{{ define "main" }}

<div class="page-content-wrapper error-404">
	<div class="error-msg">
		<p>Sorry, we can't find that page that you're looking for.</p>
		<p>You can try again by going</p>
		<a class="dark-button" href="{{ .Site.BaseURL }}">back to the homepage</a>
	</div>
	<div class="error-image">
		 {{ if fileExists (path.Join `static` `images` .Site.Params.Info.image404) }}
    		{{ $finalImageURL := (path.Join `images` .Site.Params.Info.image404) | absURL }}
			<img loading="lazy" src="{{ $finalImageURL }}" alt="{{ .Site.Params.Info.image404Alt }}" />
		{{ else }}
			{{ warnf "404 Image is not found" }}
 		{{ end }}
	</div>
</div>

{{ end }}