{{ define "main" }}
<div class="container-page-home">
	<div class="container-list-home">
	    {{ $editorials := first 5 ((where .Site.RegularPages "Type" "in" "editorials").ByDate) }}
	    {{ if $editorials }}
			<div class="home-tab list-editorials">
				<h2>Recent Editorials</h2>
				{{ range $editorials.ByDate }}
					{{ partial "item-editorial.html" . }}
				{{ end }}
			</div>
	    {{ end }}
	   	{{ $reviews := first 5 ((where .Site.RegularPages "Type" "in" "reviews").ByDate) }}
	   	{{ if $reviews }}
			<div class="home-tab list-reviews">
				<h2>Recent Reviews</h2>
				{{ range $reviews.ByDate }}
					{{ partial "item-review.html" . }}
				{{ end }}
			</div>
	    {{ end }}
	</div>
</div>
{{ end }}
