{{ define "main" }}
<div class="page-container home">
	{{ $editorials := (where .Site.RegularPages "Type" "in" "editorials") }}
   	{{ $reviews := (where .Site.RegularPages "Type" "in" "reviews") }}
   	{{ $posts := union ($editorials) ($reviews) }}

	{{ $starred := where $posts "Params.starred" true }}
	{{ $sorted := $posts.ByDate.Reverse }}
  	{{ $sorted = union ($starred) ($sorted) }}

	{{ $paginator := .Paginate $sorted }}

    {{ if $posts }}
		<div class="post-list home">
		{{ range $paginator.Pages }}
		    {{ partial "item-post.html" . }}
		{{ end }}
		</div>
		{{ partial "pagination.html" . }}
    {{ end }}
</div>
{{ end }}
