{{ define "main" }}
<div class="page-container {{ .Type }}">
	<h1 class="page-heading {{ .Type }}">{{ .Title }}</h1>
	<div class="page-description {{ .Type }}">
      {{ .Content }}
    </div>
    {{ $limit := .Site.Params.Meta.TopListCount }}
	{{ $reviews := ((where .Site.RegularPages "Type" "in" "reviews").ByParam "score").Reverse }}
	{{ $reviews = first $limit $reviews }}
	{{ if $reviews }}
		<div class="page-content-wrapper {{ .Type }}">
			<div class="post-list {{ .Type }}">
				<table>
				  <thead>
				    <th>Movie</th>
				    <th>{{ .Site.Params.Meta.MainScore }}</th>
				  </thead>
				  <tbody>
					{{ range $reviews }}
						<div class="top-item">
							{{ partial "item-top.html" . }}
						</div>
					{{ end }}
				  </tbody>
				</table>
			</div>
		</div>
	{{ end }}
</div>
{{ end }}
