{{ $title := "" }}
{{ $year := "" }}
{{ $shortreview := "" }}

{{ if .IsNamedParams }}
	{{ $title = .Get "title" }}
	{{ $year = .Get "year" }}
	{{ $shortreview = .Get "review" }}
{{ else }}
	{{ $title = .Get 0 }}
	{{ $year = .Get 1 }}
	{{ $shortreview = .Get 2 }}
{{ end }}

{{ partial "findtitlemeta.html" (dict "title" $title "year" $year "context" .) }}

{{ $titlePage := .Scratch.Get "findtitlemeta_result" }}
{{ $isFound := .Scratch.Get "findtitlemeta_isfound" }}

{{ if $isFound }}
	{{ partial "shortcode-titlecard.html" (dict "titlepage" $titlePage "shortreview" $shortreview) }}
{{ else }}
	{{ errorf "'%v' post not found for '%v'" $title $.Page.File }}
{{ end }}
