{{ define "main" }}
{{ $metaTypes := .Site.Params.MetaConfig.TopList }}

{{ $limit := 10 }}
{{ if .Site.Params.MetaConfig.Pagination }}
    {{ $limit = (index .Site.Params.MetaConfig.Pagination .Type) | default 10 }}
{{ end }}

{{ $context := . }}
<div class="row">
    {{ range $index, $metaType := $metaTypes }}
    	{{ $metaPage := $.Site.GetPage (printf "%s" $metaType)}}
    	{{ if not $metaPage }}
    		{{ errorf "review meta type %s is unknown"}}
    	{{ end }}
    	{{ $reviews := (where $.Site.RegularPages "Type" "in" "reviews") }}
		{{ $reviews = (where $reviews ".Params.meta_type" "==" $metaType) }}
		{{ $reviews = ($reviews.ByParam "score").Reverse }}

		{{ if $reviews }}
	    	<div class="col-md">
				<h3 class="page-heading">Top {{ $limit }} {{ $metaPage.Title }}</h3>
				<div class="page-content-wrapper">
					{{ partial "layouts/list-top.html" (dict "context" $context "arr" $reviews "limit" $limit) }}
				</div>
	    	</div>
		{{ end }}
    {{ end }}
</div>
{{ end }}
