{{ define "main" }}
<div class="page-content-wrapper">
    
    {{ partial "breadcrumb.html" . }}

    <article class="post-single" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
        <time class="post-date dt-published" datetime="{{ .PublishDate.Format `2006-01-02T15:04:05Z07:00` }}" itemprop="datePublished">
          {{ .PublishDate.Format (site.Params.Info.DateFormat | default "January 2, 2006") }}
          {{ if ne .Lastmod .PublishDate }}
            &bull; modified on {{ .Lastmod.Format (site.Params.Info.DateFormat | default "January 2, 2006") }}
          {{ end }}
        </time>
        {{ if .Params.tags }}
          <div class="post-tags">
          {{ range .Params.tags }}
            {{ partial "taxo-link.html" (dict "tag" . "context" $ "taxoname" "tags")}}
          {{ end }}
          </div>
        {{ end }}
      </header>
      <div class="post-content" itemprop="articleBody">
        {{ .Content }}
      </div>
    </article>

    <hr />
    <br />

    {{ partial "related-pages.html" . }}
</div>
{{ end }}
