{{ define "main" }}
<div class="page-content-wrapper">
    {{ partial "breadcrumb.html" . }}

    <article class="post-single" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
        <h5 class="post-description" itemprop="name headline">{{ .Description }}</h5>
        {{ partial "single-publish-date" . }}
        {{ partial "share-button.html" . }}
      </header>
      <div class="post-content" itemprop="articleBody">
          {{ .Content }}
      </div>
    </article>

    {{ partial "single-tags" . }}

    {{ partial "related-pages.html" . }}
</div>
{{ end }}
